html,
body {
    background: #FFFFFF;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
}

.conteiner {
    min-height: calc(50vh - 20px); /*футер к низу прижимает*/
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

.header {
    background: #DFDFDF;
    height: 82px;
}

.logo {
    width: 40%;
    float: left;
    height: 82px;
    background: #DFDFDF;
}

.text {
    margin-top: 16px;
    line-height: 16px;
    width: 60%;
    float: right;
    background-color: #DFDFDF;
    text-align: center;
}

.mainnav {
    height: 30px;
    background: #F6F6F6;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 7px 14px -4px rgba(0, 0, 0, .2);
}

.main-ul {
    padding: 0;
    margin: auto;
    text-align: center;
}

.main-li {
    margin: 10px 61px 0px 10px;
    list-style-type: none;
    display: inline-block;
}

.main {
    padding: 10px 5px 10px 5px;
    width: 99%;

}

.left-and-content {
    float: left;
    width: calc(100% - 186px);
    /*border: 1px dashed blue;*/
}

.left {
    float: left;
    width: 184px;
    border-top: none;
}

.leftmenu {
    margin-top: -5px;
    background: #F7F7F7;
    border: 1px solid #A9A9A9;
    box-shadow: 0 7px 14px -4px rgba(0, 0, 0, .2);

}

.leftmenu2 {
    font-size: 11px;
    margin-top: 10px;
    background: #F7F7F7;
    border: 1px solid #A9A9A9;
    box-shadow: 0 7px 14px -4px rgba(0, 0, 0, .2);

}

.left li, .right li {
    line-height: 15px;
}

li {
    list-style-type: none;
}

.left ul {
    padding: 0;
    margin: 30px 10px 10px 10px;
}

.menu-title {
    border-bottom: 1px solid #A9A9A9;
    float: left;
    background: #F8F8F8;
    height: 19px;
    width: 182px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.menu-title b {
    display: inline-block;
    padding-top: 3px;
}

.content {
    float: right;
    width: calc(100% - 190px);
}

.content-title {
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    margin-top: -52px;
    margin-right: -6px;
    margin-bottom: 20px;
}

.content h1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 37px;
    margin-left: 2px;
    color: #5f88a0;
}

.right {
    float: right;
    width: 184px;
    margin-top: 56px;
}

.rightmenu {
    background: #F7F7F7;
    border: 1px solid #A9A9A9;
    box-shadow: 0 7px 14px -4px rgba(0, 0, 0, .2);

}

.rightmenu2 {
    margin-top: 10px;

    background: #F7F7F7;
    border: 1px solid #A9A9A9;
    box-shadow: 0 7px 14px -4px rgba(0, 0, 0, .2);
}

.right ul {
    padding: 0;
    margin: 30px 10px 10px 10px;

}

.footer {
    height: 15px;
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #EAEAEA;
    margin-top: 500px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    padding-top: 5px;

}

.copy {
    float: left;
    width: 200px;
}

.footer-menu {
    float: left;
}

.clear {
    clear: both;
}

.kategory-left li, .kategory-right li {
    line-height: 18px;
}

.kategory-left ul {
    padding: 0;
    margin: 7px 20px 20px 43px;
}

.kategory-right ul {
    padding: 0;
    margin: 7px 20px 20px -3px;
}

.kategory-left {
    float: left;
    width: 49%;
    font-weight: bold;
}

.kategory-left > ul > li {
    margin-left: 40px;
}

.kategory-right {
    float: right;
    width: 49%;
    font-weight: bold;

}

.red {
    font-weight: normal;
    color: red;
}

.form {
    background: white;
    border: none;
    width: 193px;
    height: 49px;
    margin-top: 11px;
    margin-left: 8px;
}

.input {
    float: left;
}

.btn {
    margin-top: 19px;
    margin-left: -123px;
}

.left li, .right li {
    background: url("/images/pointer_orange.gif") no-repeat 0 2px;
    padding-left: 13px;
}

h2 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-left: 4px;
    line-height: 30px;
}

.advertising {
    width: calc(100% - 16px);
    height: 300px;
    background: gainsboro;
    border: 1px dashed darkgrey;
    box-shadow: 0 7px 14px -4px rgba(0, 0, 0, .2);
    margin: 0 auto;

}

.square {
    float: left;
    margin-top: 1px;
    margin-left: 2px;
    width: 3px;
    height: 16px;
    background: #F26722;
}

.square2 {
    float: right;
    margin-top: 1px;
    margin-right: 2px;
    width: 3px;
    height: 16px;
    background: #F26722;
}