body {
    background: #c0c0c0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

.header {
    height: 100%;
    background: #ccc565;

}

.logo{
    height: 80px;
}

.logo .img {
    width: 20%;
    float: left;
}

.logo p{
    width: 80%;
    float: right;
}

nav.nav {
    height: 20px;
    background: #ffff00;
    padding-top: 20px;
}

.main {

}

.left {
    float: left;
    width: 200px;
    height: 300px;
    background: #989845;
}

.content {
    float: left;
    margin-left: 200px;
    margin-right: 200px;
    height: 400px;

}

.right {
    float: right;
    width: 200px;
    height: 300px;
    background: #989845;
}

.footer {
    height: 15px;
    width: 100%;
    background: #234565;
    margin-top: 500px;
}